<h2>Add Asset</h2>

<form method="POST">
    <label>Category:</label>
    <input type="text" name="category"><br>
    <br>
    <label>Brand:</label>
    <input type="text" name="brand"><br>
    <br>
    <label>Serial Number:</label>
    <input type="text" name="serial_number"><br>
    <br>
    <label>Purchase Date:</label>
    <input type="date" name="purchase_date"><br>
    <br>
    <button type="submit">Add Asset</button>
</form>
    <button onclick="window.location.href='/'">Back to Home</button>