<!DOCTYPE html>
<html>

<head>
    <title>Asset History</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="page-header">

        <h1>Asset History</h1>

        <div>

            <a href="/assignments" class="btn">
                Assignments
            </a>

            <a href="/" class="btn">
                Home
            </a>

        </div>

    </div>

    <div class="card">

        <h2>{{ asset.full_name() }}</h2>

        <p>

            <b>Serial:</b>
            {{ asset.serial() }}

            <br><br>

            <b>Status:</b>
            {{ asset.status }}

        </p>

    </div>

    <br>

    <table>

        <tr>
            <th>Employee</th>
            <th>Assigned</th>
            <th>Returned</th>
            <th>Status</th>
        </tr>

        {% for row in history %}

        <tr>

            <td>
                {{ row["employee"].full_name() }}
            </td>

            <td>
                {{ row["assigned_date"] }}
            </td>

            <td>
                {{ row["returned_date"] or "-" }}
            </td>

            <td>
                {{ row["status"] }}
            </td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>