<!DOCTYPE html>
<html>

<head>
    <title>Assignments</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="page-header">

        <h1>Active Assignments</h1>

        <a href="/" class="btn">
            Back to Home
        </a>

    </div>

    <h2>Sort By</h2>

    <p>

        <a href="/assignments?sort=date">
            Date
        </a>

        |

        <a href="/assignments?sort=name">
            Employee
        </a>

        |

        <a href="/assignments?sort=category">
            Category
        </a>

    </p>

    <table>

        <tr>
            <th>ID</th>
            <th>Asset</th>
            <th>Employee</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for row in assignments %}

        <tr>

            <td>
                {{ row["assignment_id"] }}
            </td>

            <td>

                <b>
                    {{ row["category"] }}
                </b>

                <br>

                {{ row["brand"] }}

                <br>

                <small>
                    SN:
                    {{ row["serial_number"] }}
                </small>

            </td>

            <td>

                {{ row["first_name"] }}
                {{ row["last_name"] }}

            </td>

            <td>
                {{ row["assigned_date"] }}
            </td>

            <td>
                {{ row["status"] }}
            </td>

            <td>

                <a href="/return/{{ row['assignment_id'] }}">
                    Return
                </a>

                <br><br>

                <a href="/asset/{{ row['asset_id'] }}">
                    View History
                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>